In [132]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os
import glob
import pandas as pd
import numpy as np
import sklearn

In [133]:
os.chdir("C:/Users/Karen/Desktop/JungleProof\ROAS Calculator")

In [134]:
data=pd.read_csv('ROAS.csv')
print(data.columns)

data=data[['Link Clicks', 'Website Purchases',
       'Website Purchases Conversion Value',
       'Website Purchase ROAS (Return on Ad Spend)', 'Adds to Cart',
       'Landing Page Views', 'Price', 'BuyNow', 'Subscriber']]
data.head()

Index(['Source.Name', 'Campaign Name', 'Link Clicks', 'Website Purchases',
       'Website Purchases Conversion Value',
       'Website Purchase ROAS (Return on Ad Spend)', 'Adds to Cart',
       'Landing Page Views', 'Price', 'BuyNow', 'Subscriber',
       'Reporting Starts', 'Reporting Ends'],
      dtype='object')

,Link Clicks,Website Purchases,Website Purchases Conversion Value,Website Purchase ROAS (Return on Ad Spend),Adds to Cart,Landing Page Views,Price,BuyNow,Subscriber
0,2784.0,16.0,4944.0,8.408878,81.0,2189.0,309.0,0.029094828,0.007309274
1,NaN,NaN,NaN,NaN,NaN,NaN,0.0,#DIV/0!,#DIV/0!
2,26.0,3.0,1167.0,52.686230,9.0,25.0,389.0,0.346153846,0.12
3,102.0,NaN,NaN,NaN,1.0,83.0,0.0,0.009803922,0
4,12.0,NaN,NaN,NaN,NaN,12.0,0.0,0,0

In [135]:
data.shape

(4796, 9)

In [136]:
data_filtered1=data[data['Website Purchase ROAS (Return on Ad Spend)'].notnull()]
data_filtered1.shape

(1535, 9)

In [137]:
data_filtered1['ROAS RANGE']=pd.cut(data_filtered1['Website Purchase ROAS (Return on Ad Spend)'],bins = [0,3,4,10,np.inf],right=False)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [138]:
print(data_filtered1['ROAS RANGE'].value_counts())
data_filtered1['ROAS RANGE'].value_counts(normalize=True)

[0.0, 3.0)     836
[4.0, 10.0)    336
[3.0, 4.0)     253
[10.0, inf)    110
Name: ROAS RANGE, dtype: int64

[0.0, 3.0)     0.544625
[4.0, 10.0)    0.218893
[3.0, 4.0)     0.164821
[10.0, inf)    0.071661
Name: ROAS RANGE, dtype: float64

In [141]:
# data_filtered1['ROAS RANGE']=
data_filtered1['Price Range']=pd.cut(data_filtered1['Price'],bins = [i for i in range(0,1000,100)]+[i for i in range(1000,4000,1000)],right=False)
data_filtered1['Price Range'].value_counts(normalize=True)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

[0, 100)        0.554455
[100, 200)      0.299670
[200, 300)      0.093069
[300, 400)      0.039604
[400, 500)      0.005281
[1000, 2000)    0.003300
[2000, 3000)    0.002640
[800, 900)      0.000660
[700, 800)      0.000660
[500, 600)      0.000660
[900, 1000)     0.000000
[600, 700)      0.000000
Name: Price Range, dtype: float64

In [146]:
# pd.crosstab(data_filtered1['Price Range'], data_filtered1['ROAS RANGE'])


# a=pd.categorical(data_filtered1['Price Range'])
a=data_filtered1['Price Range']
b=data_filtered1['ROAS RANGE'].cat.as_unordered()
data_filtered1['c']=[str(i) for i in a]
data_filtered1['d']=[str(i) for i in b]

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [149]:
pd.crosstab(data_filtered1.c,data_filtered1.d)

d                 [0.0, 3.0)  [10.0, inf)  [3.0, 4.0)  [4.0, 10.0)
c
[0.0, 100.0)             543           14         137          146
[100.0, 200.0)           224           53          74          103
[1000.0, 2000.0)           3            1           0            1
[200.0, 300.0)            51           16          27           47
[2000.0, 3000.0)           0            3           0            1
[300.0, 400.0)             9           12          11           28
[400.0, 500.0)             2            3           1            2
[500.0, 600.0)             0            0           0            1
[700.0, 800.0)             0            0           0            1
[800.0, 900.0)             1            0           0            0
nan                        3            8           3            6

In [ ]:
#To update data for loop